.div{
    width: 100%;
    max-width: 1800px;
    margin-top: 50px;
    background-color: #FF731D;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
}