.navbar {
    height: 75px;
    background-color: #FF731D;
    display: flex;
    justify-content: center;
}

.navContainer {
    width: 100%;
    max-width: 1080px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 500;
    font-size: 1.2rem;
}

.navButton {
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 20px;
    margin: 0px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #FFAE6D;
    border-radius: 20px;
}

.navButton:hover {
    background-color: white;
    color: #FF731D;
}